body {
    cursor: url('images/bulb.png'), 10 10 auto;
    margin-bottom: 80px;
}

  body, h1, h2 {
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
    color: black;
  }

  .case-study-page {
    margin: 80px 0;
  }
  
  .flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .slideshow-container {
    width: 100%; /* Fill the width of the page */
    flex: 1;
    position: relative;
    overflow: hidden;
  }
  
  .mySlides {
    width: 100%;
    height: auto;
  }
  
  .w3-display-topleft,
  .w3-display-topright {
    position: absolute;
    font-size: 2.5em;
    font-weight: bolder;
    line-height: 1;
  }
  
  .w3-display-topleft,
  .w3-display-topright {
    top: 0.7em;
  }
  
  .w3-display-topleft {
    left: 0.8em;
  }
  
  .w3-display-topright {
    right: 0.8em;
  }

  .custom-link {
    color: black;
    text-decoration: none; /* Remove the underline */
  }

  .custom-link:hover {
    color: #e65100;
  }

  .orange-link {
    color: #e65100;
    text-decoration: none; /* Remove the underline */
  }
  
  .case-image:hover {
    transform: scale(1.02); /* Increase the size on hover */
    transition: transform 0.3s ease; /* Add a smooth transition */
  }

  .responsive {
    width: 100%;
    height: auto;
  }

  .responsive img {
    border: none !important; /* Remove default border */
    outline: none; /* Remove outline */
  }
  
  .case-image-container {
    width: 100%;
    max-width: 800px; /* Adjust the maximum width as needed */
  }

  .case-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .case-studies-container {
    max-width: 100%;
    margin: auto;
    padding: 100px 20px;
    text-align: center;
  }
  
  .case-study {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    text-align: center;
  }
  
  .case-text {
    font-size: 1em;
    color: #555;
    padding: 40px 0px;
  }
  
  .case-details {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 500px;
    text-align: center;
  }
  
  .case-details h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  
  .case-details p {
    font-size: 1em;
    color: #555;
  }
  
  .tech-stack {
    font-size: 10em;
    font-weight: bold !important;
    color: #1f1c1c;
  }

  .tag {
    display: inline-block;
    background-color: rgba(230, 81, 0, 0.1);
    color: #333;
    padding: 4px 8px;
    margin-right: 8px;
    border-radius: 4px;
  }

  .tags {
    margin-top: 8px;
  }
  
  .ipad-frame {
    position: relative;
    width: 100%;
    max-width: 400px; /* Adjust maximum width as needed */
    margin: 0 auto;
  }

  .iphone-frame {
    position: relative;
    width: 100%;
    max-width: 250px; /* Adjust maximum width as needed */
    margin: 0 auto;
  }
  
  .ipad-image {
    display: block;
    width: 100%;
  }

  .iphone-image {
    display: block;
    width: 100%;
  }
  
  .gif-overlay {
    position: absolute;
    top: 2%; /* Adjust the vertical position of the overlay */
    left: 4%; /* Adjust the horizontal position of the overlay */
    width: 92%; /* Adjust the width of the overlay */
    padding-top: 131%; /* Aspect ratio for 16:9 */
    overflow: hidden;
    border-radius: 3%;
  }

  .gif-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.iphone-gif-overlay {
  position: absolute;
    top: 1.8%; /* Adjust the vertical position of the overlay */
    left: 5%; /* Adjust the horizontal position of the overlay */
    width: 90%; /* Adjust the width of the overlay */
    padding-top: 198%; /* Aspect ratio for iPhone 14 Pro screen */
    overflow: hidden;
    border-radius: 6%;
}

.iphone-gif-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.figma-iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Aspect ratio (9:16) */
  overflow: hidden;
  margin-bottom: 0;
}

.figma-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .figma-iframe-container iframe {
    transform: scale(0.8); /* Adjust the scale factor as needed */
    transform-origin: center;
  }

  .case-details {
    margin-top: 20px; /* Adjust the margin-top value for smaller screens */
  }
}